 
 .App {
    .header {
        height: 100px;
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        .innerHeader {
            grid-column: 20 / 24;
            display: flex;
            align-items: center;
            justify-content: center;
            .cartHeader {
                position: relative;
                left: 10px;
                font-size: 1.25rem;
            }
        }
    }
    .heroSectionOne {
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        .flowerImage {
            grid-column: 9 / 24;
            z-index: 10;
            position: relative;
            bottom: 40px;
    } 

        .title {
            grid-column: 9 / 24;
            font-size: 40px;
            z-index: 10;
            font-family: 'Lora', serif;
            line-height: 50px;
            
        }
        .discoverButton {
            grid-column: 9 / 13;
            background-color: #000349;
            height: 68px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 105px;
            z-index: 10;
            font-size: 18px;
            color: white;

        }
        .heroSectionTwo {
            grid-column: 9 / 23;
            position: relative;
            top: 160px;
            background-color: #000349;
            height: 351px;
            color: white;
            display: grid;
            grid-template-columns: repeat(14, 1fr);
            z-index: 10;
            .subTitleText {
                grid-column: 3 / 9;
                font-size: 30px;
                position: relative;
                top: 75px;
            }
            .subPgText {
                grid-column: 3 / 15;
                font-size: 18px;
                line-height: 30px;
                position: relative;
                top: 20px;
            }
        }
        .blueContainer {
            grid-column: 7 / 24;
            background-color: #D1FFFF;
            height: 713px;
            position: relative;
            bottom: 42rem;
        }
    }
  }