 
 .App {
    .header {
        height: 100px;
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        .innerHeader {
            grid-column: 20 / 24;
            display: flex;
            align-items: center;
            justify-content: center;
            .cartHeader {
                position: relative;
                left: 10px;
                font-size: 1.25rem;
            }
        }
    }
    .heroSectionOne {
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        .flowerImage {
            grid-column: 9 / 24;
            background-color: green;
            z-index: 10;
        } 

        .title {
            grid-column: 9 / 24;
            font-size: 50px;
            z-index: 10;
        }
        .discoverButton {
            grid-column: 9 / 12;
            background-color: green;
            height: 68px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 105px;
            z-index: 10;

        }
    /*  .blueContainer {
            background-color: lightblue;
            grid-column: 7 / 24;
            height: 713px;
            position: relative;
            bottom: 61rem;
        }
    */

        .heroSectionTwo{
            grid-column: 9 / 24;
            position: relative;
            top: 120px;
            background-color: #000349;
            height: 351px;
            color: white;
            display: grid;
            grid-template-columns: repeat(14, 1fr);

        .subTitleText{

            grid-column: 3 / 8;
            bottom: 6px;
            z-index: 10;
        }
        .subPgText{
            grid-column: 3 / 8;
            bottom: 6px;
        }
        }
    }
  }